* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
<<<<<<< HEAD
<<<<<<< Updated upstream
  
  
=======

>>>>>>> Stashed changes
=======

>>>>>>> jacopoBranch
  }
  
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
<<<<<<< HEAD
<<<<<<< Updated upstream
  header {
    width: 100%;
    height: 500px;
    background-image: url(img/sfondo1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 1px solid black;
    display: flex;
    justify-content: center;
  }
=======

>>>>>>> Stashed changes
=======

>>>>>>> jacopoBranch
  
  main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
<<<<<<< HEAD
<<<<<<< Updated upstream
=======

  /* div per creare i margini */
>>>>>>> jacopoBranch
  
  .div-margin {
    width: 60%;
    margin: 0, auto;
  }

  /* parte superiore della pagina */

  .jumbotron {
    width: 100%;
    height: 500px;
    background-image: url(../img/sfondo1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 1px solid black;
    display: flex;
    justify-content: center;
  }
  
  .logo {
<<<<<<< HEAD
    width: 50px;
=======

  /* div per creare i margini */
  
  .div-margin {
    width: 60%;
    margin: 0, auto;
  }

  /* parte superiore della pagina */

  .jumbotron {
    width: 100%;
    height: 500px;
    background-image: url(../img/sfondo1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 1px solid black;
    display: flex;
    justify-content: center;
  }
  
  .logo {
    width: 100px;
>>>>>>> Stashed changes
=======
    width: 100px;
>>>>>>> jacopoBranch
  }
  
  .logo-login {
    display: flex;
    justify-content: space-between;
<<<<<<< HEAD
<<<<<<< Updated upstream
=======
=======
>>>>>>> jacopoBranch
    margin-top: 15px;
    width: 560px;
    border: 1px solid black;
    align-items: center;
<<<<<<< HEAD
>>>>>>> Stashed changes
=======
>>>>>>> jacopoBranch
  }
  
  .blink {
    background-color: #28CCBC;
    padding: 5px;
<<<<<<< HEAD
<<<<<<< Updated upstream
=======
    height: 35px;
    width: 150px;
>>>>>>> Stashed changes
=======
    height: 35px;
    width: 150px;
>>>>>>> jacopoBranch
  }
  
  .wellcome {
    display: flex;
    flex-direction: column;
    height: 100%;
<<<<<<< HEAD
<<<<<<< Updated upstream
  
=======
    justify-content: space-between;
>>>>>>> jacopoBranch
  }

    .title-research {
        margin-bottom: 30px;
        
    }
  
    .title-research h1 {
        margin-bottom: 30px;
    }
  
<<<<<<< HEAD
    width: 350px;
  }
=======
    justify-content: space-between;
  }

    .title-research {
        margin-bottom: 30px;
        
    }
  
    .title-research h1 {
        margin-bottom: 30px;
    }
  
>>>>>>> Stashed changes
=======
>>>>>>> jacopoBranch
  
  .main-sec-1 {
  
    height: 500px;
  
  background-color: white;
  }
  
  .adresse-request {
    width: 560px;
    height: 170px;
    border: 1px solid black;
<<<<<<< HEAD
<<<<<<< Updated upstream
  }
=======
    display: flex;
        flex-direction: column;
        justify-content: center;
    padding: 32px;
  }

  
>>>>>>> Stashed changes
=======
    display: flex;
        flex-direction: column;
        justify-content: center;
    padding: 32px;
  }

  
>>>>>>> jacopoBranch
  
  .main-sec-2-container {
    height: 750px;
    width: 100%;
    background-color: pink;
    display: flex;
    justify-content: center;
  }
  
  .main-sec-2 {
    height: 100%;
    width: 80%;
  
  }
  
  
  
  .main-sec-3 {
    background-color: white;
    height: 350px;
  
  }
  footer {
    width: 100%;
    height: 500px;
    background-color: silver;
<<<<<<< Updated upstream
  }
=======
  }
  
>>>>>>> Stashed changes
