* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
  
  }
  
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header {
    width: 100%;
    height: 500px;
    background-image: url(img/sfondo1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 1px solid black;
    display: flex;
    justify-content: center;
  }
  
  main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .div-margin {
    width: 80%;
    margin: 0, 10%;
  }
  
  .logo {
    width: 50px;
  }
  
  .logo-login {
    display: flex;
    justify-content: space-between;
  }
  
  .blink {
    background-color: #28CCBC;
    padding: 5px;
  }
  
  .wellcome {
    display: flex;
    flex-direction: column;
    height: 100%;
  
  }
  
  .be-smart {
  
    width: 350px;
  }
  
  .main-sec-1 {
  
    height: 500px;
  
  background-color: white;
  }
  
  .adresse-request {
    width: 560px;
    height: 170px;
    border: 1px solid black;
  }
  
  .main-sec-2-container {
    height: 750px;
    width: 100%;
    background-color: pink;
    display: flex;
    justify-content: center;
  }
  
  .main-sec-2 {
    height: 100%;
    width: 80%;
  
  }
  
  
  
  .main-sec-3 {
    background-color: white;
    height: 350px;
  
  }
  footer {
    width: 100%;
    height: 500px;
    background-color: silver;
  }